@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Common_StyleSheet.css"/>
     <link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>
    <script src="~/Scripts/CommonScript.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
  <h2 class="site-title">Congratulations</h2>
 <div class="main">
     <img src="~/Images/congratulations.jpg"/ class="textfieldclass" style="width:340px;height:300px">
      <input type="button" id="done" value="Done"  class="buttonclass"  style="width:350px;" onclick="donePressed()"
       />
    </div>
</body>
</html>
