@{
    ViewBag.Title = "GetBatches";
}

<link rel="stylesheet" type="text/css" href="~/Content/Common_StyleSheet.css"/>
<script type="text/javascript" src="~/Scripts/Jquery1.9.1.js"></script>
<script type="text/javascript" src="~/Scripts/CommonScript.js"></script>
<h2 class="site-title">GetBatches</h2>
<form name="SignUpForm" id="SignUpForm" onsubmit="return getBatchesPressed();" enctype="multipart/form-data"
     method="post">
    
<div class="main" >
    
       <input type="text" class="textfieldclass" placeholder="Enter batch here" 
           name="batch" id="fname" style="width:350px; margin-top:45px"/>
    

    <input type="submit" id="signUp" value="Getlist"  class="buttonclass" style="width:350px;"
       />
    </div>
</form>
