<header>
    <link rel="stylesheet" type="text/css" href="~/Content/Common_StyleSheet.css"/>
    <script src="~/Scripts/CommonScript.js"></script>
    <div >
        <div >
            <p class="site-title">
                Pocket AMS</p>
        </div>
    </div>
</header>
<div class="main" >
  <input type="button" id="signIn" value="SignIn"  class="buttonclass" style="width:350px;margin-top:100px"
       onclick="signInPressed()"/>
    <br/>
    <input type="button" id="signUp" value="SignUp" class ="buttonclass inSpacing" style="width:350px"
        onclick="signUpPressed()" />
</div>
    