@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
     <link rel="stylesheet" type="text/css" href="~/Content/Common_StyleSheet.css"/>
     <link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>
     <script type="text/javascript" src="~/Scripts/Jquery1.9.1.js"></script>
    <script type="text/javascript" src="~/Scripts/CommonScript.js"></script>
    <meta name="viewport" content="width=device-width" />
    
    <title></title>
</head>

<body onload="getAllNotifications()">
    <h2 class="site-title">Notifications</h2>
    <div>
    
    </div>
</body>
</html>
