@{
    ViewBag.Title = "SignUp";
}
<link  rel="stylesheet" type="text/css" href="~/Content/Common_StyleSheet.css"/>
<script src="~/Scripts/CommonScript.js"></script>
<h2 class="site-title">SignUp</h2>
<div class="main">
<input type="button" id="parent" value="Parent"  class="buttonclass" style="width:350px;margin-top:75px"
       onclick="parentPressed()"/>
    <input type="button" id="student" value="Student"  class="buttonclass inSpacing" style="width:350px;"
       onclick="studentPressed()"/>
    <input type="button" id="teacher" value="Teacher"  class="buttonclass inSpacing" style="width:350px;"
       onclick="teacherPressed()"/>    
</div>
